.conteneur_contacts {
    display: inline-block;
    text-align: center;
    padding: 100px;
    background-color: white;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50px;
    box-shadow: 6px 6px 10px black;

}

.conteneur_contacts i {
    text-shadow: 3px 3px 5px black;
}

.contacts_liste a {
    color: black;
}

.img_fond_contacts, .img_fond_contacts2 {
    background-size: cover;
    height: 100%;
    
    animation-duration: 1s;
    animation-name: blur_anim;
    animation-iteration-count: 1;
    animation-direction: normal;
}

.img_fond_contacts {
    background-image: url('../images/travail.jpg');
    filter: blur(5px) grayscale(50%);
}

.img_fond_contacts2 {
    background-image: url('../images/pc.jpg');
    filter: blur(5px) grayscale(10%);
}