@media screen and (min-width: 720px){
    .section {
        padding: 50px 80px;
    }

    .section p {
        margin-bottom: 50px;
    }

    .ptext {
        height: 100%;
    }

    .conteneur {
        width: 50%;
        margin: 0 auto;
    }

    .tab1 {
        margin: 50px 0;
    }

    .ma_photo_cv {
        float: right;
    }
}

@media screen and (max-width: 719px) {
    .section {
        padding: 0;
    }

    .section p {
        margin-bottom: 0;
    }

    h1 {
        font-size: 100%;
        margin-top: 20%;
    }
    h2 {
        font-size: 100%;
        margin-top: 5%;
    }

    .contacts_liste {
        padding: 10%;
        display: block;
    }

    .conteneur {
        width: 100%;
        margin: 0 auto;
    }

    .tab1 {
        margin: 10% auto;
    }

    .tableau1 {
        text-align: center;
    }

}

body, html {
    height: 100%;
    margin: 0%;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    color: #666;
    background-color: black;
}

.mapage {
    height: 100%;
    margin: 0%;
    color: #666;
}

footer {
    width: 100%;
    background-color: black;
    color: white;
    bottom: 0;
    text-align: center;
}

h1 {
    color: white;
    text-shadow: 4px 4px 10px black;
    position: relative;
    top: 0;

    animation-duration: 4s;
    animation-name: fade_in;
    animation-iteration-count: 1;
    animation-direction: normal;
}

h2 {
    animation-duration: 2s;
    animation-name: descendre_anim, fade_in;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    color: rgb(226, 226, 226);
    text-shadow: 4px 4px 10px black;
    position: relative;
    margin-bottom: 0;
    padding-bottom: 0;
}
.fleches {
    transform: rotate(90deg);
    height: 10%;
}
@keyframes descendre_anim {
    from {
        bottom: -5%;
    }

    to {
        bottom: -20%;
    }
}
@keyframes fade_in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

h3 {
    text-transform: uppercase;
    font-size: 3em;
    color: black;
    font-family: sans-serif;
    width: auto;
    padding: 50px;
    margin: 0 auto;
    text-shadow: 2px 2px 8px darkgrey;
}

.section p {
    padding: 50px;
    font-family: sans-serif;
    font-size: 1.2em;
    text-align: justify;
    line-height: 200%;
}

.section hr {
    border: 1px solid red;
    width: 50%;
    margin-left: 50px;
}

/* ---- Bar de navigation / menu --- */
nav {
    /*
    display: none;
    */
    width: 100%;
    background-color: rgb(117, 117, 117);
    position: fixed;
    top: 0;
    z-index: 1000;
    box-shadow: 0 3px 20px black;
}

nav .active {
    color: rgb(204, 204, 204);
    text-decoration: underline;
    background-color: #c7c8c960;
}

ul {
    margin: 0;
    padding: 0;
    display: flex; /* affichage en ligne */
}

li {
    list-style-type: none;
    margin: 10px 2%;
    font-size: 1.2em;
}

li a {
    text-decoration: none;
    color: white;
    padding: 5%;
    margin: 10px;
    font-family: sans-serif;
}

nav li a:hover { /* Lorsque la souris passe dessus */
    color: rgb(204, 204, 204);
    border-radius: 0;
    background-color: grey;
}

/* ----- Contact ----- */

.conteneur_contacts {
    text-align: center;
}

.conteneur_contacts i {
    text-shadow: 3px 3px 5px black;
}

.conteneur_contacts li {
    margin: 0;
}

.contacts_liste a {
    color: black;
    margin: 0;
    padding: 0;
}

.contacts_liste a:hover {
    color: rgb(204, 204, 204);
    border-radius: 0;
}


/* ----- CV ----- */

.tab1 td {
    text-align: center;
}

.tableau1 {
    width: 100%;
    margin-bottom: 10px;
    display: inline-block;

    position: relative;
}

table {
    border: 3px solid #6495ed;
    border-collapse: collapse;
    box-shadow: 16px 16px 10px black;
}

thead {
    background-color: #D0E3FA;
    border: 1px solid #6495ed;
}

tbody {
    background-color: #FFFFFF;
    border: 1px solid #6495ed;
}

th {
    font-family: monospace;
    border: 1px dotted #6495ed;
    padding: 5px;
    background-color: #EFF6FF;
    width: 25%;
    text-align: left;
    font-size: 1.1em;
    text-transform: uppercase;
}

td {
    font-family: sans-serif;
    font-size: 80%;
    border: 1px solid #6495ed;
    padding: 5px;
    text-align: left;
}

tr {
    height: 50px;
}


/* ----- Page ----- */

.img{
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.img1 {
    background-image: url('../images/lycee.jpg');
    min-height: 100%;
}
.img1_contact {
    background-image: url("../images/travail.jpg");
    min-height: 100%;
}
.img1_cv {
    background-image: url("../images/bureau.jpg");
    min-height: 100%;
}

.img2 {
    background-image: url('../images/cours.jpg');
    min-height: 50%;
}
.img2_contact {
    background-image: url("../images/pc.jpg");
    min-height: 50%;
}

.img3 {
    background-image: url('../images/piano.jpg');
    min-height: 50%;
}

.img4 {
    background-image: url('../images/dev.jpg');
    min-height: 50%;
}

.section {
    box-shadow: 0 -20px 10px black;
    text-align: left;
}

.section-lu {
    background-color: #f4f4f4;
    color: #666;
}

.section-sombre {
    background-color: #282e34;
    color: #ddd;
}

.ptext {
    position: absolute;
    top: 25%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;;
}

.ptext .trans {
    color: #fff;
    padding: 20px;
}

.ptext .border {
    background-color: #757575;
    color: #fff;
    padding: 20px;
}

.droite {
    float: right;
    clear: left;
}

.section img {
    height: 150px;
    width: 150px;
    padding: 30px;
    border-radius: 50%;
}

/*Copié depuis https://fontawesome.com/v4.7.0/get-started/*/
/*!
 *  Font Awesome 4.7.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */

@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'),
    url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'),
    url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'),
    url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'),
    url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
}

.fa-envelope:before {
    content: "\f0e0";
}

.fa-github:before {
    content: "\f09b";
}

.fa-home:before {
    content: "\f015";
}

.fa-briefcase:before {
    content: "\f0b1";
}

.fa-graduation-cap:before {
    content: "\f19d";
}

.fa-arrow-down:before {
    content: "\f063";
}

.fa-angle-double-down:before {
    content: "\f103";
}

.fa-lg {
    font-size: 1.33333333em;
    line-height: .75em;
    vertical-align: -15%;
}

.fa-check-square-o:before {
    content: "\f046";
}

.fa-wrench:before {
    content: "\f0ad";
}

.fa-3x {
    font-size: 3em;
}
